# Code files
code/globalStorage
code/History
code/snippets
code/workspaceStorage
code/sync
# Antigravity
antigravity/globalStorage
antigravity/History
antigravity/snippets
antigravity/workspaceStorage